html, body {
  overflow-x: hidden;
}
body {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #421729;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab", Times, Georgia, serif;
  color: #721B3F;
}
h2 {
  font-size: 2em;
  font-weight: 600;
}
p {
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
}

/* HEADER */

header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap; 
  
  -webkit-justify-content: space-around; 
  -moz-justify-content: space-around; 
  -ms-justify-content: space-around; 
  justify-content: space-around;
  align-items: center;

  color: #721B3F;
  margin: 1.2em 0 1.8em 0;
}

@media all and (max-width: 720px) {
header {
    margin: 1.2em 0 0 0; 
  }
}

.hea {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  width: 58.5em;
}
@media all and (max-width: 720px) {
  .logo {order: 1;}
  .account {order: 2;}
  .title {order: 3; width: 100%}
}

@media all and (min-width: 750px) {
  .logo {order: 1;}
  .title {order: 2;}
  .account {order: 3;}
}

.title h1 {
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2.28em;
  text-align: center;
  color: #9D5374;
}
.account {
  margin-right: 0.2em;
}
.account a {
  text-decoration: none;
  color: #721B3F;
  font-size: 0.9em;
  font-weight: 700;
}
.account a:hover {
  color: #CD9DB1;
}
.cart {
  margin-top: 0.5em;
  position: relative;
}
.cart span {
  position: absolute;
  margin-left: 0.7em;
  font-weight: 400;
}
.cart span:after {
  content: " ";
  position: absolute;
  right: -1.3em;
  top: 0.24em;
  border: 0.6em solid transparent;
  border-top: 0.8em solid #721B3F;
  display: block;
}
.cart span:hover:after {
  border-top: 0.8em solid #CD9DB1;
}

hr {
  border: none;
  background-color: #916478;
  color: #916478;
  height: 0.06em;
  margin: 0;
}

/* Navigation */
.menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.menu a {
  font-size: 0.93em;
  text-decoration: none;
  padding: 0 1.2em;
  color: #721B3F;
  height: 1.5em;
  padding-top: 0.7em;
}
.menu a:hover {
  background: #916478;
  color: #FFDA6B;
}

/* Hero */
.hero {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.2em;
}

.hero img {
  width: 100%;
}

.hero > div {
  position: relative;
}

.hero-text {
  font-family: "Josefin Slab", Times, Georgia, serif;
  position: absolute;
  left: 52%;
  top: 16%;
}
.hero-text p {
  font-size: 1.6em;
  font-weight: 600;
  text-align: left;
  color: #9D5374;
  line-height: 1.3em;
}
.hero-text .one {
  margin: 0;
}
.hero-text .two {
  margin:0.6em 0 0 0;
}
.hero-text .three {
  margin: 0;
  text-align: right;
  padding-right: 1.2em;
}

@media all and (max-width: 770px) {
  .hero-text {
    font-size: 0.8em;
  }
}
@media all and (max-width: 620px) {
  .hero-text {
    font-size: 0.65em;
  }
  .slog h2 {
    font-size: 1.5em;
  }
}
@media all and (max-width: 500px) {
  .hero-text {
    font-size: 0.56em;
  }
}
@media all and (max-width: 420px) {
  .hero-text {
    font-size: 0.5em;
  }
}

/* Main */
.main, footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap; 
  
  -webkit-justify-content: space-around; 
  -moz-justify-content: space-around; 
  -ms-justify-content: space-around; 
  justify-content: center;
  
  align-items: center;
}
.slog {
  text-align: center;
  flex: 0 1 78%;
}
.block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around; 
  -moz-justify-content: space-around; 
  -ms-justify-content: space-around;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  width: 58.5em;
}

/*Cloth*/
.men {
  position: relative;
  flex: 0 1 49%; 
}
.men img, .sha img, .toy img {
   width: 100%;
}
.sign {
  position: absolute;
  top: 75%;
  width: 100%;
  opacity: 0.6;
  background: #FFFFFF;
}
.sign p {
  font-size: 2em;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #721B3F;
  margin: 0.4em 0;
}
@media all and (max-width: 500px) {
  .sign p {
    font-size: 1.5em;
    margin: 0.2em 0;
  }
}
/*Shawls*/
.sha {
  position: relative;
  flex: 0 1 32%;  
}
@media all and (max-width: 900px) {
  .sha {
    flex: 0 1 48%;
  }
}

/*Toys*/
.toy {
  position: relative;
  flex: 0 1 24%; 
}
@media all and (max-width: 768px) {
  .toy {
    flex: 0 1 48%;
  }
}

/* Back to top */
.top {
  width: 100%;
  height: 1.5em;
  position: relative;
  margin: 0.6em 0;
}
.top div {
  position: absolute;
  top: 0;
  left: 77%;
}
.top a {
text-decoration: none;
font-size: 0.9em;
font-weight: 600;
color: #916478;
}

/* Footer */
footer {
  background-color: #421729;
  }
.foot {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 58.5em;
  padding: 0 1%;
}
.foot h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #916478;
  margin: 1em 0 0.5em;
}

.email input {
  height: 2.2em;
  border-radius: 4px;
  border-color: #FFF;
}
.email button {
  background: #421729;
  border: 1px solid #FFDA6B;
  border-radius: 4px;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #FFDA6B;
  padding: 0.42em 1.5em 0.3em;
  margin-left: 0.3em;
}
.email p {
  font-size: 0.8em;
  color: #FFFFFF;
}

.info {
  list-style-type: none;
  padding: 0;
  margin: 0 0 0.6em;
}
.info a {
color: #FFFFFF;
line-height: 1.5em;
text-decoration: none;
}
.info a:hover {
  color: #916478;
}

.icon {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
.connect {
  width: 4em;
  height: 7.8em;
}
.copy {
  width: 98%;
  padding: 0 1%;
}
.copy p {
  font-size: 0.8em;
  color: #916478;
  margin: 0.3em 0;
}

@media all and (max-width: 768px) {
  .foot {
    justify-content: space-around;
  }
  .email {
    width: 100%;
    text-align: center;
  }
  .email button {
    margin-top: 0.5em;
  }
}

/* Category page */

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-between; 
  -moz-justify-content: space-between; 
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
  
  width: 58.5em;
}

.menu .active {
  background: #916478;
  color: #FFDA6B;
}

/* Subitle */
.subtitle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-between; 
  -moz-justify-content: space-between; 
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin: 2.5em 0 0 9.7em;
  
}
.subtitle h2 {
  margin: 0;
  font-weight: 400; 
}
.sortby {
  position: relative;
}
.sortby span {
  position: absolute;
  left: -3.5em;
  top: 0.4em;
}
.sort {
  border: 1px solid #9B9B9B;
  height: 25px;
  font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  color: #555052;
}

/* Navigation */
.navi {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column wrap;
  -webkit-justify-content: flex-start; 
  -moz-justify-content: flex-start; 
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;

  margin-top: 0.6em;
}
ul {
  list-style-type: none;
  margin: 0 0 2.4em;
  padding: 0;
  width: 6em;
}
ul h3 {
  font-size: 1.1em;
  line-height: 1.2em;
  margin-top: 0;
}
ul li {
  margin-bottom: 0.9em;
}
ul li a {
  text-decoration: none;
  color: #421729;
}
ul li a:hover {
  font-weight: 700;
}
.active2 {
  font-weight: 700;
}

@media all and (max-width: 630px) {
  .navi {
    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
  }
  .navi ul {
    margin: 1em 0 0 0;
    text-align: center;
  }
  .navi ul h3 {
    margin: 0;
  }
  .navi ul li a {
    display: none;
  }
  .subtitle {
    margin: 1.5em 0 0 0;
  }
}

@media all and (max-width: 440px) {
  .subtitle {
    justify-content: space-around;
  }
  .subtitle h2 {
  font-size: 1.8em; 
  }
  .navi ul h3 {
    font-size: 1em;
  }
  .navi {
    justify-content: space-around;
  }
  ul {
    width: 4em;
  }
}

/* Content */
.photos {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-between; 
  -moz-justify-content: space-between; 
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  width: 83%;
  margin-top: 0.6em;
}
@media all and (max-width: 630px) {
  .photos {
    width: 100%;
  }
}
.item {
  width: 32%;
}
.item img {
  width: 100%;
}
.lable p {
  text-align: center;
  line-height: 1.45em;
  margin-top: 0.3em;
}
@media all and (max-width: 768px) {
  .item {
    width: 48%;
  }
}

/* Bottom */
.bottom {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center; 
  -moz-justify-content: center; 
  -ms-justify-content: center;
  justify-content: center;
  align-items: flex-start;
  width: 58.5em;
}
.pages {
  width: 7em;
  margin: 0;
}
.pages li {
  display: inline;
}
.pages a {
  font-size: 0.9em;
  color: #721B3F;
}
.pages a:hover {
  text-decoration: none;
}
.active3 {
  text-decoration: none;
}